* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ***** set variable colors ***** */

:root {
  --primary: #103a44;
  --secondary: #85751f;
  --tertiary: #a48a91;
  --background: #e5e6df;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto #a48a91;
}

a:focus,
a:focus-visible {
  outline: 4px auto #a48a91;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #103a44;
    background-color: #ffffff;
  }
  a:hover {
    color: #a48a91;
  }
  button {
    background-color: #e5e6df;
  }
  button:focus {
    color: #a48a91;
    border-color: #a48a91;
  }
}
